<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>


    <div class="jumbotron">
            <h1>Travel Grant Award Eligibility</h1> 
            <p>Some instructionsSome instructionsSome instructionsSome instructionsSome instructionsSome instructions
            Some instructionsSome instructionsSome instructionsSome instructionsSome instructions
            Some instructionsSome instructionsSome instructionsSome instructionsSome instructions</p> 
    </div>
          
    <div class="jumbotron">
      
<br />



<%= link_to "New Sheet", new_sheet_path, class: "btn btn-primary" %>
<br/>
  <%= link_to 'Reset', department_reset_path,
                      method: :get,
                      data: { confirm: 'This action will remove all data in department and representative. Do you want to confirm the action? ' } %>
<br />
<br />



   <p>
  Download the eliglibility:
  <%= link_to "Download CSV", sheets_path(format: "csv"), :id => "download_csv" %> 
  </p>


 <table class="table" id="department">
  <thead>
      <tr>
        <th>Academic_unit_name</th>
        <th>College</th>
        <th>Eligibility</th>
    </tr>
  </thead>      
  <tbody>
    <% @departments.each do |dept| %>
      <tr>
        <td><%= dept.academic_unit_name %></td>
        <td><%= dept.college %></td>
        <td>
            <% if dept.current_state == '1' %>
                <p>Yes</p>
             <% else %>
                <p>No</p>
            <% end %>
        </td>
           
      </tr>
  </tbody>
<% end %>
</div>
