<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>


    <div class="jumbotron">
            <h1>Travel Grant Award Eligibility</h1> 
            <p>Some instructionsSome instructionsSome instructionsSome instructionsSome instructionsSome instructions
            Some instructionsSome instructionsSome instructionsSome instructionsSome instructions
            Some instructionsSome instructionsSome instructionsSome instructionsSome instructions</p> 
    </div>

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-12">
                <h2>Choose following options to begin:</h2>
            </div>
        </div>
        <br />
        <div class="row">
            <ul class="nav nav-pills nav-justified">
              <li role="presentation"><%= link_to "Upload Attendance or Registration Sheet", new_sheet_path %></li>
              <li role="presentation"><%= link_to "Download Eligibility Excel Sheet", sheets_path(format: "csv"), :id => "download_csv" %> </li>
              <li role="presentation"><%= link_to 'Erase everything', department_reset_path, method: :get, data: { confirm: 'This action will remove all data in department and representative. Do you want to confirm the action? ' } %></li>
            </ul>
        </div>
        <br/>
        <div class="row">
             <table class="table table-bordered table-sm" id="department">
                <thead class="thead-inverse">
                <tr>
                    <th>Academic_unit_name</th>
                    <th>College</th>
                    <th>Eligibility</th>
                </tr>
              </thead>      
              <tbody>
                <% @departments.each do |dept| %>
                  <tr>
                    <td><%= dept.academic_unit_name %></td>
                    <td><%= dept.college %></td>
                    <td>
                        <% if dept.current_state == '1'||dept.current_state == '2' %>
                            <p>Yes</p>
                         <% else %>
                            <p>No</p>
                        <% end %>
                    </td>
                       
                  </tr>
            <% end %>
              </tbody>
            </table>
        </div>
</div>
