<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>


    <div class="jumbotron">
            <h1>Travel Grant Award Eligibility</h1> 
            <p>Some instructionsSome instructionsSome instructionsSome instructionsSome instructionsSome instructions
            Some instructionsSome instructionsSome instructionsSome instructionsSome instructions
            Some instructionsSome instructionsSome instructionsSome instructionsSome instructions</p> 
    </div>
          
    <div class="jumbotron">
        <%= link_to 'Reset', department_reset_path,
                      method: :get,
                      data: { confirm: 'This action will remove all data in department and representative. Do you want to confirm the action? ' } %>
<br />



<%= link_to "New Sheet", new_sheet_path, class: "btn btn-primary" %>
<br />
<br />


<table class = "table table-bordered table-striped">
   <thead>
      <tr>
         <th>Name</th>
         <th>Download Link</th>
         <th> </th>
      </tr>
   </thead>
   
   <tbody>
      <% @sheets.each do |sheet| %>
         
         <tr>
            <td><%= sheet.name %></td>
            <td><%= link_to "Download sheet", sheet.attachment_url %></td>
            <td><%= button_to "Delete",  sheet, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{sheet.name}?" %></td>
         </tr>
         
      <% end %>
   </tbody>
   <p>
  Download the eliglibility:
  <%= link_to "Download CSV", sheets_path(format: "csv"), :id => "download_csv" %> 
  </p>
</table>


 <table class="table" id="department">
  <thead>
      <tr>
        <th>Academic_unit_name</th>
        <th>College</th>
        <th>Eligibility</th>
    </tr>
  </thead>      
  <tbody>
    <% @departments.each do |dept| %>
      <tr>
        <td><%= dept.academic_unit_name %></td>
        <td><%= dept.college %></td>
        <td>
            <% if dept.current_state == '1' %>
                <p>Yes</p>
             <% else %>
                <p>No</p>
            <% end %>
        </td>
           
      </tr>
  </tbody>
<% end %>
</div>
