<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<%= link_to 'Reset', department_reset_path,
              method: :get,
              data: { confirm: 'Are you sure?' } %>
<br />



<%= link_to "New Sheet", new_sheet_path, class: "btn btn-primary" %>
<br />
<br />


<table class = "table table-bordered table-striped">
   <thead>
      <tr>
         <th>Name</th>
         <th>Download Link</th>
         <th> </th>
      </tr>
   </thead>
   
   <tbody>
      <% @sheets.each do |sheet| %>
         
         <tr>
            <td><%= sheet.name %></td>
            <td><%= link_to "Download sheet", sheet.attachment_url %></td>
            <td><%= button_to "Delete",  sheet, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{sheet.name}?" %></td>
         </tr>
         
      <% end %>
   </tbody>
   <p>
  Download the eliglibility:
  <%= link_to "Download CSV", sheets_path(format: "csv"), :id => "download_csv" %> 
  </p>
</table>
<table id="representative">
  <tr>
    <th>first name</th>
    <th>last name</th>
    <th>uin</th>
    <th>email</th>
    <th>department_id</th>
  </tr>          
<% @representatives.each do |representative| %>
  <tr>
    <td><%= representative.first_name %></td>
    <td><%= representative.last_name %></td>
    <td><%= representative.uin %></td>
    <td><%= representative.email %></td>
    <td><%= representative.department_id %></td>
  </tr>
<% end %>

 <table id="department">
  <tr>
    <th>department_id</th>
    <th>academic_unit_name</th>
    <th>college</th>
    <th>current_state</th>
    <th>previous_state</th>
    <th>meeting_attendance</th>
  </tr>          
<% @departments.each do |d| %>
  <tr>
    <td><%= d.id %></td>
    <td><%= d.academic_unit_name %></td>
    <td><%= d.college %></td>
    <td><%= d.current_state %></td>
    <td><%= d.previous_state %></td>
    <th><%= d.meeting_attendance %></th>
  </tr>
<% end %>
