<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>
<% if !@sheet.errors.empty? %>
   <div class = "alert alert-error">
      
      <ul>
         <% @sheet.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
      
   </div>
<% end %>

<div class = "well">
   <%= form_for @sheet, html: { multipart: true } do |f| %>
      
      <div class="attachment">
         <%= f.label :please_upload_file_here %>
         <%= f.file_field :attachment %>   
      </div>
  
      <div class="btn-submit" style="position:bottom; padding-top:20px">
               <%= f.submit "Save", class: "btn btn-primary" %>
      </div>
   <% end %>
</div>