<!DOCTYPE html>
<html>
   
   <head>
      <title>Eligibility Sheet</title>
      <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
   </head>
   
   <body>
       <div class="header">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-4" id="Logo">
                 <a class="OOA" href="/">
                     <%= image_tag("gpsc.png",class:"lockup_icon") %>
                </a> 
              </div>
              <div class="col-md-4 col-md-offset-4 text-right"id="TAMU">
                  <a href="http://www.tamu.edu">
                      <%= image_tag("logo-TAMU.jpg",class:"logo_icon") %>
                  </a>
              </div>
        </div>
        </div>
    </div>
   <div class="container">
        <%= yield %>
   </div>
   <div class="footer">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                 <div class="paragraph" style="text-align:center; padding-bottom: 30px; padding-top:30px">
                     <font color="#fff"><font size="4">
                         Graduate and Professional Student Council&nbsp;• The Graduate and Professional Student Government of Texas A&amp;M University</font>
                    </font>
                </div>
              </div>
        </div>
        </div>
    </div>
    
      
   </body>

</html>